@@if (demoMode) {
<!-- Modal: Demo -->
@@include("modal-demo.html")
}

<!-- Modal: Members -->
@@include("modal-members.html")

<!-- Modal: Startup Search Left Side Slideout d187 -->
@@include("modal-startup-search.html")

<!-- Modal: Search OG -->
@@include("modal-search-og.html")


<!-- Modal: Activity -->
@@include("modal-activity.html")

<!-- Modal: Kanban task -->
@@include("modal-kanban-task.html")

<!-- Modal: Kanban task -->
@@include("modal-kanban-task-empty.html")

<!-- Modal: Founders Feed -->
@@include("modal-founders-feed.html")

<!-- Modal: Startup Spotlight -->
@@include("modal-startup-spotlight.html")

<!-- Modal: Uplift Algorithm -->
@@include("modal-uplift-algorithm.html")

<!-- Modal: Pricing  -->
@@include("modal-pricing.html")

